<!-- Start Topbar -->
<!--<div class="topbar topbar-expand-lg topbar-dark bg-danger" style="background-color: #B71D1D;"></div>-->
<div class="topbar topbar-expand-lg" style="background-color: #1db2b7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-4 col-12">
        <div class="top-end">
          <ul class="user-login">
            <li>
              <a href="https://lotema.ma.gov.br/">Clique aqui para voltar ao site da LOTEMA</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Topbar -->
<!-- Start Header Middle -->

<div class="header-middle">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-3 col-7">
        <!-- Start Header Logo -->
        <a class="navbar-brand" href="index.html">
          <img src="assets/imagens/logo/logolotema.png" alt="Logo" />
        </a>
        <!-- End Header Logo -->
      </div>
    </div>
  </div>
</div>
<!-- End Header Middle -->
