<!-- Start Header Bottom -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-9 col-md-6 col-12">

      <div class="container bg-light py-5">
        <h1 class="display-5 fw-bold">Bem-vindo ao Quiz do Jogo Responsável!</h1>
        <br>
        <p class="col-md-8 fs-4">Prepare-se para um desafio reflexivo com 20 perguntas. Cada resposta contribui para a sua conscientização e autoavaliação.</p>
        <br>
        <h5>Instruções:</h5>
        <ol>
          <li>Resposta afirmativa: +10 pontos</li>
          <li>Resposta negativa: 0 pontos</li>
          <li>Tempo para responder: 40 segundos por pergunta</li>
        </ol>
        <h1 style="font-family: cursive; text-align:center">Boa sorte!</h1>
        <div class="name col-md-4 my-3">
          <label for="name">Digite seu nome:</label>
          <input #name type="text" class="form-control" (keydown)="onKeyDown($event)">
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Iniciar o Quiz!</button>
        </div>
      </div>

    </div>
  </div>
  <!-- End Header Bottom -->
</div>
