<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold" style="font-family: Segoe UI Emoji">Bem-vindo ao Quiz do Jogo Responsável!</h1>
  <br>
  <p class="col-md-8 fs-4" style="font-family: Segoe UI Emoji">Prepare-se para um desafio reflexivo com 20 perguntas. Cada resposta contribui para a sua conscientização e autoavaliação.</p>
  <br>
  <h5 style="font-family: Segoe UI Emoji">Instruções:</h5>
  <ol>
      <li style="font-family: Segoe UI Emoji">- Resposta afirmativa: +10 pontos</li>
      <li style="font-family: Segoe UI Emoji">- Resposta negativa: 0 pontos</li>
      <li style="font-family: Segoe UI Emoji">- Tempo para responder: 40 segundos por pergunta</li>
  </ol>
  <h1 style="font-family: cursive; text-align:center">Boa sorte!</h1>
  <div class="name col-md-4 my-3">
      <label for="name" style="font-family: Segoe UI Emoji">Digite seu nome:</label>
      <input #name type="text" class="form-control">
  </div>
  <div class="text-center">
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()" style="font-family: Segoe UI Emoji">Iniciar o Quiz!</button>
  </div>
</div>
