/* Import Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Custom global styles */
body {
  font-family: 'Roboto', 'Segoe UI', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* Responsividade */

/* Estilo para dispositivos móveis (celulares) */
@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .btn {
    width: 100%;
    font-size: 1rem;
  }
}

/* Estilo para tablets */
@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .btn {
    width: 100%;
    font-size: 1.2rem;
  }
}

/* Estilo para computadores */
@media (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .btn {
    width: auto;
    font-size: 1.5rem;
  }
}
