.card {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li .card:hover {
  border: 1px solid blue;
}

ol {
  padding: 0;
}

.image img {
  max-width: 100%;
}

.quiz-header span {
  font-family: cursive;
}

.score span,
.timer span,
.question span {
  font-family: cursive;
}

.result h3,
.result p {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}


.result img {
  width: 100%;
  margin: 0 auto;
}

button.btn {
  font-family: 'Roboto', sans-serif;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result p {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .result img {
    width: 100%;
  }

  .result {
    width: 100%;
  }
}
